@import '~@tabler/core/dist/css/tabler.min.css';
@import '~filepond/dist/filepond.min.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';// Create FilePond component
@import '~viewerjs/dist/viewer.css';
@import '~vue-select-image/dist/vue-select-image.css';
@import '~vue2-daterange-picker/dist/vue2-daterange-picker.css';
@import '~vue-multiselect/dist/vue-multiselect.min.css';

.multiselect{
    min-height: 36px;
}

.multiselect__tags {
    border: 1px solid #dadcde !important;
    min-height: 36px !important;
    border-radius: 4px !important;
    padding: 0 40px 0 7px !important;
}

.multiselect__select {
    min-height: 36px;
}

.multiselect__tag-icon {
    line-height: 19px;
}

.multiselect__tag {
    border-radius: 3px !important;
    margin-bottom: 0;
    margin-top: .3rem;
}

.multiselect__placeholder {
    margin-bottom: 0;
    padding-top: 6px;
}

.multiselect__input {
    margin-top: 0.5rem;
}

.multiselect__strong {
    margin-top: .3rem;
}

.multiselect__single {
    margin-top: .4rem;
}

@media print
{
    .page-break  { display:block; page-break-before:always; }

}

.tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover {
        $color: #f9f9f9;

        .popover-inner {
            background: $color;
            color: black;
            padding: 0;
            border-radius: 5px;
            box-shadow: 0 5px 30px rgba(black, .1);
        }

        .popover-arrow {
            border-color: transparent;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

@media only screen and (min-width: 1200px) {
    .vue-select-image__wrapper .vue-select-image__item:first-child {
        margin-left: 0!important;
    }
}


.vue-daterange-picker {
    width: 100% !important;
}

.vue-daterange-picker .daterangepicker .row {
    flex-wrap: unset !important;
}

.reportrange-text[data-v-2359713c] {
    padding: 0.4375rem 0.75rem !important;
}
